*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}

:root{
  --background: #d1d1d1 ;
  --text: #141313 ;

}

.null{ display: none; }

button{ cursor: pointer; border: 1px solid black;  }

textarea{
  resize: none;
  background-color: transparent;
  width: 100%;
  height: 200px;
  padding: 5px;
  border: 0;
}
textarea:focus{ border: 0; outline: none; }

.a{
  text-align: justify;
}

body{
    width: 100;
    height: 100vh;
    background-color: var(--background);
}


.header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element{ position: absolute; }
.element:nth-child(1){ left: 10px; }
.element:nth-child(2){ right: 12px; }


.switch {
    appearance: none;
    width: 3em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    outline: none;
    transition: background .2s;
    cursor: pointer;
    position: relative;
    border: 1px solid black;
  }
  
  .switch::before {
    content: url('./imgs/lightbulbon_121975.svg');
    width: 1.5em;
    height: 1.5em;
    background: rgb(255, 174, 68);
    border-radius: 2em;
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    position: absolute;
    transform: translateX(0);
    transition: transform .2s;
  }
  
  .switch:checked {
    background: #201f1f;
    border: 1px solid rgba(255, 255, 255, 0.418);
  }
  
  .switch:checked::before {
    transform: translateX(2em);
    box-shadow: 1px 1px 10px rgb(255, 174, 68);
  }

.flex-c{
  display: flex;
  flex-direction: column;
}

.section{
  padding: .5rem;
  margin: .1rem 0;
  width: 90%;
  max-width: 450px;
}

::-webkit-scrollbar{
  background-color: rgba(255, 255, 255, 0.219);
  width: 10px;

}

::-webkit-scrollbar-thumb{
  background-color: #001733;
  border-radius: 10px;
}

.box-result{ overflow: hidden; color: #0A3871; padding: 5px;}


textarea{
  color: var(--text);
}

.btns{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btns>button, .btn-copy{
  border-radius: 12px;
  margin: 5px 0;
  padding: 8px 0;
}

.btns>button:nth-child(1){
  background-color: #0A3871;
  color: white;
}
.btns>button:nth-child(2){
  color: #0A3871;
}

.info{
  padding: 10px;
  font-size: .9rem;
  color: #3d3d3d;
}

.main{ height: 90vh; align-items: center; } 

.section:nth-child(2), .box-result{
  background-color: aliceblue;
  word-wrap: break-word;
}

.section:nth-child(2){
  position: relative;
  height: 30%;
  /* max-height: 30%; */
  border-radius: 13px;
  text-align: center;
}

.box-result{ height: 90%; overflow-y: auto;}

.btn-copy{position: absolute; bottom: 0; left: 2% }

.btn-copy, .box-result{ width: 95%; }



@media (min-width:950px) {
  .main{
    flex-direction: row;
    justify-content: end;
    padding: 1rem;
  }

  textarea{ height: 90%; }
  

  .section:nth-child(1), .section:nth-child(2){
    height: 100%;
  }

  .section:nth-child(1){
    width: 50%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .section:nth-child(2){
    width: 30%;
    margin:0 2rem;
    
  }

  .null{ display: block; }

}

@media (min-width:1100px) {
  .btns{
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .btns>button{
    margin: 0 ;
    width: 50%;
  }

  .section:nth-child(2){
    width: 25%;
    margin:0 2rem;
    
  }
}
